html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/output.css")
        title Spel
        link(rel="shortcut icon" href="TemplateData/favicon.ico")
        link(rel="stylesheet" href="TemplateData/style.css")
        script(src="game.js") 
    body     
        canvas 
            #unity-canvas.w-96.h-64.border-2
        #unity-loading-bar
