html(lang='en-us')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    title Unity WebGL Player | My project (5)
    //- link(rel='shortcut icon' href='TemplateData/favicon.ico')
    //- link(rel='stylesheet' href='TemplateData/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
body
  #unity-container.unity-desktop
    canvas#unity-canvas(width='960' height='600' tabindex='-1')
    #unity-loading-bar
      #unity-logo
      #unity-progress-bar-empty
        #unity-progress-bar-full
    #unity-warning
    #unity-footer
      #unity-webgl-logo
      #unity-fullscreen-button
      #unity-build-title My project (5)
  script.
    var container = document.querySelector("#unity-container");
    var canvas = document.querySelector("#unity-canvas");
    var loadingBar = document.querySelector("#unity-loading-bar");
    var progressBarFull = document.querySelector("#unity-progress-bar-full");
    var fullscreenButton = document.querySelector("#unity-fullscreen-button");
    var warningBanner = document.querySelector("#unity-warning");
    function unityShowBanner(msg, type) {
      function updateBannerVisibility() {
        warningBanner.style.display = warningBanner.children.length ? "block" : "none";
      }
      var div = document.createElement("div");
      div.innerHTML = msg;
      warningBanner.appendChild(div);
      if (type == "error") div.style = "background: red; padding: 10px;";
      else {
        if (type == "warning") div.style = "background: yellow; padding: 10px;";
        setTimeout(function () {
          warningBanner.removeChild(div);
          updateBannerVisibility();
        }, 5000);
      }
      updateBannerVisibility();
    }
    var buildUrl = "../public/game/Build";
    var loaderUrl = buildUrl + "/gameLoader.js";
    var config = {
      dataUrl: buildUrl + "/c#.data.br",
      frameworkUrl: buildUrl + "/c#.framework.js.br",
      codeUrl: buildUrl + "/c#.wasm.br",
      streamingAssetsUrl: "StreamingAssets",
      companyName: "DefaultCompany",
      productName: "My project (5)",
      productVersion: "0.1.0",
      showBanner: unityShowBanner,
    };
    config.matchWebGLToCanvasSize = false;
    if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
      var meta = document.createElement("meta");
      meta.name = "viewport";
      meta.content = "width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes";
      document.getElementsByTagName("head")[0].appendChild(meta);
      container.className = "unity-mobile";
      canvas.className = "unity-mobile";
    } else {
      canvas.style.width = "960px";
      canvas.style.height = "600px";
    }
    loadingBar.style.display = "block";
    var script = document.createElement("script");
    script.src = loaderUrl;
    script.onload = () => {
      createUnityInstance(canvas, config, onProgress).then(onSuccess).catch(onError);
    };
    document.body.appendChild(script);
